

.wraper{
    width: 100%;
    height: 93vh;
    position: relative;
}
.course_info{
    position: absolute;
    top: 20px;
    left: 0;
    width: 400px;
    height: 270px;
    background-color: #d4d4d4;
    border-radius: 10px;
    padding: .5rem .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.course_title{
    width: 100%;
    height: 19%;
    font-size: 1.4rem;
    font-weight: 500;
    overflow: hidden;
    border-bottom: 1px solid black;
    display: flex;
}
.course_details{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.element{
    font-size:1rem;
}
.bold{
    font-weight: 400;
}
.token{
    background-color: rgba(255, 255, 0, 0.545);
    color: black;
    padding: .5rem;
    border-radius: 10px;
}

.other_info{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 400px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other_info_header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.other_info_btn{
    width: 48%;
    height: 100%;
    background:none;
    border: 1px solid #10B0A7;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: all .2s ease;
}
.other_info_btn:hover{
    background-color: #10B0A7;
    color: white;
}
.active{
    background-color: #10B0A7;
    color: white;
}
.other_info_details{
    width: 100%;
    height: 88%;
    border-radius: 0 0 10px 10px;
    background-color: #c0c0c0db;
    color: rgb(8, 112, 247);
}
.repo_section{
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: scroll;
}
.member_section{
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: scroll;
}
.member_section ul{
    width: 100%;
    height: 100%;
    list-style: none;
}

.member_section .item{
    padding: .4rem .5rem;
    margin: .5rem 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item .group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.group .avater{
    width: 30px;
    height: 30px;
    border:1px solid gray;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
    background-color: gray;
}

.group .pp{
    width: 100%;
}
.p{width: 100%;}
.group p{
    color: black;
    font-size: .9rem;
}
.item .group2{
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group2 a{
    text-decoration: none;
    padding: .2rem;
    font-size:.8rem;
    border: 1.5px solid rgb(20, 123, 220);
    color: rgb(20, 123, 220);
    background: none;
    border-radius: 5px;
    transition: all .25s ease;
}
.group2 a:hover{
    background-color: rgb(20, 123, 220);
    border: 1.5px solid rgb(20, 123, 220);
    color: white;
    cursor: pointer;
}
.group2 button{
    padding: .2rem;
    font-size:.8rem;
    border: 1.5px solid crimson;
    color: crimson;
    background: none;
    border-radius: 5px;
    transition: all .25s ease;
}
.group2 button:hover{
    background-color: crimson;
    border: 1.5px solid crimson;
    color: white;
    cursor: pointer;
}

.remove_memberPopup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.787);
}
.rm_memberContainer{
    background-color: white;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rm_memberContainer p{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: Red;
}
.grp{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.popclose{
    padding: 8px 15px;
    background: none;
    border: none;
    font-size: .9rem;
    background-color:#10B0A7;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.yes{
    text-decoration: none;
    padding: 8px 15px;
    font-size:.9rem;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.repo_section ul{
    width: 100%;
    height: 100%;
    list-style: none;
}

.repo_section .item{
    padding: .4rem .5rem;
    margin: .5rem 0;
    font-size: .85rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.item .item-file{
    font-size: 1.12rem;
    text-decoration: none;
    margin-bottom: .3rem;
}
.item .file_btns{
    margin-top: .4rem;
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .empty{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(65, 65, 65, 0.357);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================================= */

.post_section{
    position: absolute;
    right: 0;
    width: 780px;
    height:763px;
    overflow: scroll;
    padding-right: 1.5rem;
    padding-top: 20px;
}
.post_section .empty_post{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.5rem;
    font-weight:bold;
    color: rgba(173, 173, 173, 0.421);
}
.post_btn{
    width: 40%;
    height: 6%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background:none;
    border-radius: 5px;
    border: 2.2px solid #10B0A7;
    transition: all .2s ease;
}
.post_btn:hover{
    background-color:#10B0A7;
    color: white;
}

.post_wraper{
    width: 100%;
    height:693px;
}

.post-card{
    width: 100%;
    margin: 1.8rem 0;
    padding: 10px;
    /* border: 2px solid black; */
    background-color: rgb(213, 213, 213);
    border-radius: 10px;
    position: relative;
}
.post-card-red{
    width: 100%;
    margin: 1.8rem 0;
    padding: 10px;
    background-color: rgb(213, 213, 213);
    border: 3px solid rgb(248, 65, 65);
    border-radius: 10px;
    position: relative;
}
.card-heading-warper{
    margin-bottom: 10px;
}
.post-heading{
    width: 93%;
    font-weight: 200;
    font-size: 1.1rem;
    margin-bottom: 3px;
}
.bold{
    font-weight:600;
}
.tiny{
    font-size: 1rem;
    font-weight: 300;
}
.time{
    color: rgb(66, 103, 255);
    font-size: .8rem;
    margin-left: .7rem;
}
.post-body{
    padding: 1rem 0;
    width: 95%;
}
.post-body .body-text-normal{
    font-size: 1.45rem;
    font-weight: 300;
    line-height: 1.9rem;
}
.post-body .body-text-small{
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.9rem;
}

.files{
    width: 100%;
}
.files .each{
    background-color: rgba(122, 182, 222, 0.627);
    color: #008efb;
    padding: .6rem .5rem;
    border-radius: 5px;
    margin-bottom: .7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.each a{
    text-decoration: none;
    color: black;
}

.comment-section{
    border-top: 1px solid black;
}
.comment-section .form_wraper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.form_wraper .comment{
    width: 80%;
    padding: .5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.87);
}
.form_wraper .submit{
    text-decoration: none;
    font-size: 1rem;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: #10B0A7;
    color: white;
    cursor: pointer;
}
.all_comment{
    margin-top: 1rem;
}
.all_comment ul{
    list-style-type: none;
    padding-right: 1rem;
}
.single_comment{
    margin: .8rem 0;
}
.single_comment .comment_wraper{
    display: flex;
}
.avater{
    width: 33px;
    height: 33px;
    border:1px solid gray;
    border-radius: 50%;
    margin-right: 3px;
    overflow: hidden;
    background-color: gray;
}
.comment_body{
    margin-left: .3rem;
    margin-bottom: .14rem;
    height: auto;
    width: auto;
    /* max-width: 96%; */
    padding: .3rem .5rem;
    background-color: rgba(57, 57, 57, 0.794);
    border-radius: 11px;
    color: rgb(222, 222, 222);
}
.commenter{
    font-size: .97rem;
    color: rgb(238, 246, 255);
    margin-bottom: .2rem;
}
.body{
    font-size: .9rem;
    font-weight: 200;
    color:rgb(226, 226, 226);
    line-height: 1.2rem;
}
.toggle-button{
    position: absolute;
    top:5px;
    right: 5px;
    padding:5px;
    cursor: pointer;
    border: none;
}

  
  .toggle-section {
    display: none;
    width: 100px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 5px;
}
.toggle-section .toggle-section-wraper{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.toggle-section-wraper button{
    padding: 3px 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.toggle-section-wraper button:hover{
    background-color:#10B0A7;
    color: white;
}
  
  .toggle-section-visible {
    display: block;
  }

  .post-delPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.787);
}

.post-delContent {
    background-color: white;
    width: 780px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-delContent .head {
    width: 100%;
    font-weight: 400;
    font-size:1.4rem;
    text-align: center;
    margin-bottom: 1.2rem;
    background-color: red;
    color: white;
    padding: 10px 0;
}

.pop-close{
    padding: 12px 10px;
    background: none;
    border: none;
    background-color:#10B0A7;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.del-confirm-btn{
    text-decoration: none;
    padding: 10px 10px;
    background: none;
    border: none;
    background-color: rgb(246, 56, 56);
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.del-confirm-btn:hover{
    background-color: red;
    color: white;
}


.post-editPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.787);
}

.post-editContent {
    background-color: white;
    width: 780px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-head{
    width: 100%;
    font-weight: 400;
    font-size:1.4rem;
    text-align: center;
    margin-bottom: 1.2rem;
    padding: 10px 0;
    border: 1px solid black;
}


.button-group{
    margin-top: 1.4rem;
}


.pop-closeEdit{
    padding: 11px 10px;
    background: none;
    border: none;
    background-color: rgb(246, 56, 56);
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.edit-btn{
    text-decoration: none;
    padding: 10px 10px;
    background: none;
    border: none;
    background-color:#10B0A7;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}


/* #toggleSection{
    background-color: red;
    z-index: 999;
} */

/* .popupSectionHidden {
    display: none;
  }
  
  .popupSectionVisible {
    display: block;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: absolute;
    top: 30px;
    right: 0;
  } */

.popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.787);
}

.popupContent {
    background-color: white;
    width: 750px;
    height: 440px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: relative; */
}


.popupContent h2 {
    font-weight: 400;
    font-size:1.4rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.Post{
    width: 100%;
    height: 90%;
    /* background-color: red; */
}

.popupContent button{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: none;
    box-shadow: 0 0 2px 2px rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}
.popupContent button:hover{
    background: red;
    color: white;
    cursor: pointer;
}
.fas{
    margin-right: 4px;
}
.form-group {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    height: 230px;
    padding: 0 0 20px 0;
    border-radius: 4px;
    overflow: hidden;
  }
  

  
/* Textarea styles */
.form-group textarea {
    font-size: 24px;
    line-height: 1.5;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 160px;
  }
  
.form-group textarea:focus {
    outline: none;
  }
  
  
  .form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .group{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .file-upload {
    display: inline-block;
    padding: 5px 5px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .file-upload:hover {
    background-color: #e0e0e0;
  }
  
  .file-upload:active {
    background-color: #d0d0d0;
  }
  
  .file-upload span {
    margin-right: 5px;
  }
  
  .file-list {
    width: 100%;
    height: 70px;
    padding: 15px 0;
    /* margin-top: 10px; */
    font-size: 14px;
    display: flex;
    overflow: scroll;
  }
  
  .file-list li {
    margin-bottom: 5px;
    width: auto;
    list-style-type: none;
    margin-right: 15px;
    border: 1px solid #0A4D68;
    border-radius: 10px;
    padding: 5px 7px;
    color: rgb(73, 73, 253);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.post-btn{
    margin-top: 1.5rem;
    padding: 10px 35px;
    font-size: 1.1rem;
    background: none;
    border: none;
    border-radius: 5px;
    background-color: #10B0A7;
    color: white;
    transition: all .2s ease;
}
.post-btn:hover{
    background-color: #0b827c;
    color: white;
}
 