.wraper{
    width: 100%;
    height: 93vh;
}

.cover_photo{
    width: 100%;
    height: 27%;
    background-color: gray;
    position: relative;
}
.profile_head{
    position: absolute;
    top: 190px;
    left: 210px;
    width: 700px;
    display: flex;
    align-items: flex-end;
}
.profile_avatar{
    width:170px;
    height: 170px;
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile_naming h3{
    font-size: 1.8rem;
    font-weight: 500;
}
.profile_naming p{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.457);
    margin-top: 1.1rem;
}

.personal_info{
    width: 63%;
    position: absolute;
    bottom: 187px;
    left: 410px;
}
.each{
    margin:1.2rem; 
}
.bold{
    font-weight: bold;
}