.wraper{
    width: 100%;
    height: 93vh;
}

.cover_photo{
    width: 100%;
    height: 27%;
    overflow: hidden;
    position: relative;
}
.cover_photo img{
    width: 100%;
}
.cover_photo .no_cover{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(169, 169, 169, 0.718);
}
.profile_head{
    position: absolute;
    top: 190px;
    left: 210px;
    width: 700px;
    display: flex;
    align-items: flex-end;
}
.profile_avatar{
    width:170px;
    height: 170px;
    background-color: rgb(75, 75, 75);
    border: 5px solid rgba(200, 200, 200, 0.786);
    border-radius: 50%;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.profile_avatar img{
    width: 100%;
}
.profile_naming h3{
    font-size: 1.8rem;
    font-weight: 500;
}
.profile_naming p{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.457);
    margin-top: 1.1rem;
}

.personal_info{
    width: 63%;
    position: absolute;
    top: 400px;
    left: 430px;
}
.each{
    margin:1.2rem 0; 
}
.bold{
    font-weight: bold;
}
.edit-btn{
    padding:.7rem;
    border-radius: 5px;
    background-color: #10B0A7;
    color: white;
    border: none;
    cursor: pointer;
}

.popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.787);
}

.popupContent {
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: relative; */
}

.popupContent .closeButton{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: none;
    box-shadow: 0 0 2px 2px rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}
.popupContent .closeButton:hover{
    background: red;
    color: white;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="image"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button[type="submit"] {
    background-color: #10B0A7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button[type="submit"]:hover {
    background-color: #45a049;
  }




  