{%extends 'layout.html'%}

{%load static%}

{%block title%}
    Home | CSBox - Educational Platform
{%endblock title%}

{%block link%} 
    <link rel="stylesheet" href="{%static 'css/teacher/home.css'%}"/>
{%endblock link%}

{%block script%}{%endblock script%}

{%block content%}
    
    <div class="wraper">
        <form method="POST">
            {%csrf_token%}
            <input type="text" id="token" name="token" placeholder="Session Token">
            <input type="submit" value="Join Session">
        </form>
        {%if messages%}
            <div class="message">
            {%for each in messages%}
                <p>{{each}}</p>
            {%endfor%}
            </div>
        {%endif%}
    </div>
    
{%endblock content%}