{%extends 'layout.html'%}

{%load static%}

{%block title%}
    Home | CSBox - Educational Platform
{%endblock title%}

{%block link%} 
    <link rel="stylesheet" href="{%static 'css/teacher/home.css'%}"/>
{%endblock link%}

{%block navImg%}
    {%if student_profile.profile_pic%}
        <img src="{{student_profile.profile_pic.url}}" alt="Profile Pic">
    {%else%}
        <img src="../../media/default_profile_pic.webp" alt="Profile pic">
    {%endif%}
{%endblock navImg%}

{%block script%}{%endblock script%}

{%block content%}
    
    <div class="wraper">
        <form method="POST">
            {%csrf_token%}
            <input type="text" id="token" name="token" placeholder="Session Token" required>
            <input type="submit" value="Join Session">
        </form>
        {%if messages%}
            <div class="message">
            {%for each in messages%}
                <p>{{each}}</p>
            {%endfor%}
            </div>
        {%endif%}
    </div>
    
{%endblock content%}