{%extends 'layout.html'%}

{%load static%}

{%block title%}
    Home | CSBox - Educational Platform
{%endblock title%}

{%block link%} 
    <link rel="stylesheet" href="{%static 'css/teacher/home.css'%}"/>
{%endblock link%}

{%block navImg%}
    {%if teacher_profile.profile_pic%}
        <img src="{{teacher_profile.profile_pic.url}}" alt="Profile Pic">
    {%else%}
        <img src="../../media/default_profile_pic.webp" alt="Profile pic">
    {%endif%}
{%endblock navImg%}

{%block script%}{%endblock script%}

{%block content%}
    
    <div class="wraper">
        <h1 class="announcement-head">Announcement</h1>
        <div class="announcement">
            <div class="announcement-content">
                {%if announcement%}
                <ul class="list">
                    {%for each in announcement%}
                        <a class="each_list_link" href="{%url 'single_post' each.id %}">
                            <li class="list_item">
                                <p class="list_head"> <span class="bold">{{each.session.sessionName}}</span> batch <span class="bold">{{each.session.section.batch}}-{{each.session.section.section}}, {{each.session.semester}}</span></p>
                                <p class="list_post">{{each.postBody | slice:"0:40" }}...</p>
                            </li>
                        </a>

                    {%endfor%}
                </ul>
                {%else%}
                    <div class="no_announc">No Announcement Yet</div>
                {%endif%}
                
            </div>
        </div>
        <div class="post_section">
            <div class="post-content">
                {%if normal_posts%}
                    {%for each in normal_posts%}
                        <a href="{%url 'single_post' each.id%}">
                            <div class="post-card">
                                <div class="post-head">
                                    <span class="bold">{{each.creator.first_name}} {{each.creator.last_name}}</span> 
                                    post to
                                    <span class="bold">{{each.session.sessionName}}</span>
                                    batch
                                    <span class="bold">{{each.session.section.batch}} - {{each.session.section.section}}, {{each.session.semester}}</span>
                                </div>
                            </div>
                        </a>
                    {%endfor%}
                {%else%}
                    <div class="no_post">No Recent Post</div>
                {%endif%}
            </div>
        </div>
    </div>
    
{%endblock content%}