{%extends 'layout.html'%}

{%load static%}

{%block title%}
    {{course_obj.sessionName}} | CSBox - Educational Platform
{%endblock title%}

{%block link%} 
    <link rel="stylesheet" href="{%static 'css/teacher/single_course.css'%}"/>
{%endblock link%}

{%block script%}{%endblock script%}

{%block content%}
    <div class="wraper">
        <div class="course_info">
            <h1 class="course_title">{{course_obj.sessionName}}</h1>
            <div class="course_details">
                <p class="element"><span class="bold">Faculty:</span> {{course_obj.faculty.user.first_name}} {{course_obj.faculty.user.last_name}} ({{course_obj.faculty.designation}})</p>
                <p class="element"><span class="bold">Semester:</span> {{course_obj.semester}}</p>
                <p class="element"><span class="bold">Department:</span> {{course_obj.department}}</p>
                <p class="element"><span class="bold">Batch:</span> {{course_obj.batch}}</p>
                <p class="element"><span class="bold">Section:</span> {{course_obj.section.section}}</p>
            </div>
        </div>
        <div class="other_info">
            <div class="other_info_header">
                <button id="repo_button" class="other_info_btn active">Repository</button>
                <button id="member_button" class="other_info_btn">Course Member</button>
            </div>
            <div class="other_info_details">
                <div id="Repo_section" class="repo_section">
                    {%for file in files%}
                        <div>{{file}}</div>
                    {%endfor%}
                </div>
                <div id="Member_section" class="member_section">
                    This is member Section
                </div>
            </div>
        </div>
        <div class="post_section">
            <button id="popupButton" class="post_btn">Create Post or Announcement</button>
        </div>
    </div>
    <div id="popupContainer" class="popupContainer">
        <div class="popupContent">
            <h2>Create Post or Announcement</h2>
            <div class="Post">
                <form method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="form-group">
                        <textarea id="post_content" name="post_content" placeholder="write here..."></textarea>
                        <ul class="file-list"></ul>
                    </div>
                    
                    <div class="group">
                        <div class="file-upload">
                            <input type="file" id="file-input" name="files" multiple>
                        </div>

                        <div class="checkbox-container">
                            <input type="checkbox" id="announcement" name="announcement" value="True">
                            <label for="announcement" class="checkbox-label">Announcement</label>
                        </div>
                    </div>                
                    
                    
                    <input type="submit" class="post-btn" value="Post">
                </form>
            </div>
            <button id="closeButton" class="closeButton"><i class="fas fa-times"></i></button>
        </div>
    </div>
{%endblock content%}
{%block downscript%} 
    <script src="{%static 'javascript/teacher/single_course.js'%}"></script>
{%endblock downscript%}