{%extends 'layout.html'%}

{%load static%}

{%block title%}
    {{request.user.first_name}} {{request.user.last_name}} | CSBox - Educational Platform
{%endblock title%}

{%block link%} 
    <link rel="stylesheet" href="{%static 'css/teacher/teacher_profile.css'%}"/>
{%endblock link%}
{%block navImg%}
    {%if teacher_profile.profile_pic%}
        <img src="{{teacher_profile.profile_pic.url}}" alt="Profile Pic">
    {%else%}
        <img src="../../media/default_profile_pic.webp" alt="Profile pic">
    {%endif%}
{%endblock navImg%}
{%block script%}{%endblock script%}

{%block content%}
    
    <div class="wraper">
        <div class="cover_photo">
            {%if student_profile.cover_pic%}
                <img src="{{teacher_profile.cover_pic.url}}" alt="Cover photo">
            {%else%}
                <div class="no_cover">
                    No Cover Photo
                </div>
            {%endif%}
        </div>
        <div class="profile_head">
            <div class="profile_avatar">
                {%if teacher_profile.profile_pic%}
                    <img src="{{student_profile.profile_pic.url}}" alt="Profile pic">
                {%else%}
                    <img src="../../media/default_profile_pic.webp" alt="Profile pic">
                {%endif%}
            </div>
            <div class="profile_naming">
                <h3>{{teacher_profile.user.first_name}} {{teacher_profile.user.last_name}}</h3>
                {%if teacher_profile.bio%}
                <p>{{teacher_profile.bio}}</p>
                {%endif%}
            </div>
        </div>
        <div class="personal_info">
            <p class="each"><span class="bold">Works at: </span>{{teacher_profile.works_at}}</p>
            <p class="each"><span class="bold">Department: </span>{{teacher_profile.department}}</p>
            <p class="each"><span class="bold">Designation: </span>{{teacher_profile.designation}}</p>
            {%if teacher_profile.studied_at%}
            <p class="each"><span class="bold">Studied at: </span>{{teacher_profile.studied_at}}</p>
            {%endif%}
            {%if teacher_profile.program%}
            <p class="each"><span class="bold">Program: </span>{{teacher_profile.program}}</p>
            {%endif%}
            {%if teacher_profile.address%}
            <p class="each"><span class="bold">From: </span>{{teacher_profile.address}}</p>
            {%endif%}
            <button class="edit-btn" id="popupButton">Edit Profile</button>
        </div>   
    </div>
    <!-- Popup Form section -->
    <div class="popupContainer" id="popupContainer">
        <div class="popupContent" id="popupContent">
            <form method="POST">
                {%csrf_token%}
                <div class="form-group">
                  <input type="text" id="bio" name="bio" placeholder="Bio" {%if teacher_profile.bio%} value="{{teacher_profile.bio}}" {%endif%}>
                </div>
                <div class="form-group">
                  <input type="text" id="studied_at" name="studied_at" placeholder="Studied At" {%if teacher_profile.studied_at%} value="{{teacher_profile.studied_at}}" {%endif%}>
                </div>
                <div class="form-group">
                    <input type="text" id="program" name="program" placeholder="Program" {%if teacher_profile.program%} value="{{teacher_profile.program}}" {%endif%}>
                </div>
                <div class="form-group">
                    <input type="text" id="address" name="address" placeholder="From" {%if teacher_profile.address%} value="{{teacher_profile.address}}" {%endif%}>
                </div>
                <div class="form-group">
                    <label for="image1">Select Porfile Picture:</label>
                    <input type="file" id="image1" name="image1" alt="profile pic">
                  </div>
                  <div class="form-group">
                    <label for="image2">Set a Cover photo:</label>
                    <input type="file" id="image2" name="image2" alt="cover pic">
                  </div>
                <div class="form-group">
                  <button type="submit">Save</button>
                </div>
              </form>
            <button id="closeButton" class="closeButton"><i class="fas fa-times"></i></button>
        </div>
    </div>
    
{%endblock content%}
{%block downscript%} 
    <script src="{%static 'javascript/teacher/teacher_profile.js'%}"></script>
{%endblock downscript%}